<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DolFin - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}" />
</head>

<body>
    <div id="titleSection">
        <h1 id="titleH1">About DolFin</h1>
    </div>


    <div id="FirstSection">
        <h2 id="FirstSectionHeading">Title</h2>
        <br>
        <p id="FirstSectionParagraph">
            Lorem ipsum dolor sit amet consectetur. Enim euismod gravida proin malesuada molestie vivamus interdum
            elementum nisi. Lorem ipsum dolor sit amet consectetur. Enim euismod gravida proin malesuada molestie
            vivamus interdum elementum nisi. Lorem ipsum dolor sit amet consectetur. Enim euismod gravida proin
            malesuada molestie vivamus interdum elementum nisi.</p>
    </div>

    <div class="col">
        <img id="FirstblobImg" src="/static/img/aboutusblob1.png" alt="Decorative Blob">
        <img id="FirstblobImg1" src="/static/img/aboutuspicblob1.png" alt="About us Picture">

        <div id="Firstblobsection">
            <h2 id="thirdSectionHeading" style="color: white;">Title</h2>
            <p id="thirdSectionParagraph" style="color: white;">Lorem ipsum dolor sit amet consectetur.
                Enim euismod gravida proin malesuada
                molestie vivamus interdum elementum nisi. Lorem ipsum dolor sit amet consectetur.
                Enim euismod gravida proin malesuada
                molestie vivamus interdum elementum nisi. Lorem ipsum dolor sit amet consectetur.
                Enim euismod gravida proin malesuada
                molestie vivamus interdum elementum nisi. </p>
        </div>
    </div>

    <div class="col">
        <img id="bottomblob" src="/static/img/bottomblob.png" alt="Decorative Blob">
        <img id="bottomblob1" src="/static/img/bottomblob1.png" alt="Decorative Blob">

        <div id="bottomsection">
            <h2 id="thirdSectionHeading" style="color: white;">Title</h2>
            <p id="thirdSectionParagraph" style="color: white;">Lorem ipsum dolor sit amet consectetur.
                Enim euismod gravida proin malesuada
                molestie vivamus interdum elementum nisi. Lorem ipsum dolor sit amet consectetur.
                Enim euismod gravida proin malesuada
                molestie vivamus interdum elementum nisi. Lorem ipsum dolor sit amet consectetur.
                Enim euismod gravida proin malesuada
                molestie vivamus interdum elementum nisi. </p>
        </div>

        <div id="bottomlogosection">
            <img id="bottomblob1" src="/static/img/dolfinlogo.png" alt="DolFin Logo">
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>